html,
body {

  margin: 0;
  padding: 0;
  background-color: #19202B;
  color: white;

}

canvas {

  display: block;

}

.headerLabels {

  text-align: center;
  font-family: 'arial black';
  margin-bottom: 5px;

}

.selectors {

  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: "arial";
  text-align: center;

}

.inputs {

  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: "arial";
  text-align: center;

}

.buttons {

  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}
